.body {
    font-family: 'helvetica', helvetica, Helvetica, 'PingFang SC', 'Hiragino Sans GB','Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.header-color {
    background-color: aliceblue;
}

.menu-color {
    background-color: #F2F6FC;
}

.block_node {
    fill:white
}

.block_node_trace {
    fill:rgb(228, 162, 162)
}

.block_node_success {
    fill:#2ecc71
}

.block_node_fall {
    fill:#c0392b
}

.block_node:hover {
    fill:rgb(240, 236, 236)
}

.block_border {
    fill:#81ecec
}

.edge {
    stroke-width: 7px;
    stroke:#81ecec
}

.edge_trace {
    stroke-width: 8px;
    stroke:rgb(228, 162, 162);
}

.edge:hover {
    stroke-width: 8px;
    stroke:#00cec9
}

text {
    font-size: 35px;
}