.body {
    font-family: 'helvetica', helvetica, Helvetica, 'PingFang SC', 'Hiragino Sans GB','Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.header-color {
    background-color: aliceblue;
}

.menu-color {
    background-color: #F2F6FC;
}